body{
	background-color: grey;
}
h1.first{
	color: black;
	padding: 2px;
	text-align: center;
}
.flashes{
	margin: 0px;
	list-style-type: none;
	text-align: center;
}
.error{
	background-color: red;
}
.info{
	background-color: green;
}
form.boxxed{
	border-style: dashed;
	border-radius: 4px;
	text-align: center; 
}
input.score{
	background-color: lightgrey;
	width: 40px;
	height: 25px;
	text-align: center;
	font-size: 20px;
}
select.games{
	width: 180px;
	margin: 0px 0px;
	background: lightgrey;
	text-align: center;
}
select.teams{
	width: 180px;
	margin: 0px 0px;
	background: lightgrey;
	text-align: center;
}
button.back{
	height: 80px;
	font-size:20px; 
	background:lightgrey;
}
button.statistics{
	border: dotted;
	border-radius: 4px;
	color: black;
	padding: 20px 34px;
	width: 220px; 
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-color: black;
	margin: 22px 2px;
	cursor: pointer;
	background-color: #61ce6a;
}
button.game{
	border: dotted;
	border-radius: 4px;
	color: black;
	padding: 20px 34px;
	width: 220px; 
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-color: black;
	margin: 22px 2px;
	cursor: pointer;
	background-color: #42f4c5;
}
footer{
	padding: 10px; 
}
