<!doctype html>
<html>
<head>
		<meta charset="utf-8">
    	<meta http-equiv="x-ua-compatible" content="ie=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HeScha-Scoretracker</title>
    	<link rel="canonical" href="" />
    	<meta name="description" content="Tracking scores of various games to mongoDB">
    	<meta name="keywords" content="html,cheatsheet" />
    	<meta property="fb:admins" content="tobi rogx" />
    	<meta property="og:title" content="HeScha-Scoretracker" />
    	<meta property="og:type" content="website" />
    	<meta property="og:url" content="localhost" />
    	<meta property="og:image" content="" />
    	<meta property="og:description" content="Tracking scores of various games to mongoDB" />
    	<link rel="stylesheet" href="../static/style.css">
    	<script src="/script.js"></script>
</head>
<header>
	<h1 class="first"> scoretracker</h1>
</header>
<body>
	<center>
	<form class="boxxed" method="get">
		<button class="statistics" type="submit" formaction="https://www.google.com/">View Statistics</button>
		<button class="game" type="submit" formaction="/submit">Submit Game</button>
	</form>
	</center>
</body>
<footer>
    <address>
        This project is OpenSource on: <a href="https://github.com/ironicoerror/scoretracker">Github</a>
    </address>
</footer>
</html>
