<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HeScha-Scoretracker</title>
		<link rel="canonical" href="" />
		<meta name="description" content="Tracking scores of various games to mongoDB">
		<meta name="keywords" content="gaming, score, tracker, python, flask" />
		<meta property="og:admins" content="tobi rogx" />
		<meta property="og:title" content="HeScha-Scoretracker" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="localhost" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="Tracking scores of various games to mongoDB" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
	</head>
	<body>
		<header>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					<ul class=flashes>
					{% for category, message in messages %}
						<li class="{{ category }}">{{ message }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</header>
		<h1 class="first">Welcome</h1>
		<center>
		<form class="boxxed" method="get">
			<button class="statistics" type="submit" formaction="{{ url_for('putzplan') }}">Putzplan</button>
			<button class="game" type="submit" formaction="{{ url_for('scoretracker') }}">Scoretracker</button>
		</form>
		</center>
	</body>
</html>
