<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HeScha-Scoretracker</title>
		<link rel="canonical" href="" />
		<meta name="description" content="Tracking scores of various games to mongoDB">
		<meta name="keywords" content="gaming, score, tracker, python, flask" />
		<meta property="og:admins" content="tobi rogx" />
		<meta property="og:title" content="HeScha-Scoretracker" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="localhost" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="Tracking scores of various games to mongoDB" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
	</head>
	<body>
		<header>
			<div class="flashes">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<p class="{{ category }}">{{ message }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
			</div>
			<table width="100%">
				<th align=left style="width:20%"><form action="{{ url_for('root') }}"><button class="back" type="submit">&#8592;</button></form>
				<th style="width:60%"><h1 class="first">scoretracker</h1></th>
				<th style="width:20%"></th>
			</table>
		</header>
		<center>
		<form class="boxxed" method="get">
			<button class="statistics" type="submit" formaction="{{ url_for('st_stats') }}">View Statistics</button>
			<button class="game" type="submit" formaction="{{ url_for('st_submit') }}">Submit Match</button>
		</form>
		</center>
	</body>
	<footer>
	    <address>
				Link zum Projekt und Source Code: <a href="https://github.com/ironicoerror/scoretracker/">Github</a>
	    </address>
	</footer>
</html>
