<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HeScha-Scoretracker</title>
		<link rel="canonical" href="" />
		<meta name="description" content="Tracking scores of various games to mongoDB">
		<meta name="keywords" content="gaming, score, tracker, python, flask" />
		<meta property="og:admins" content="tobi rogx" />
		<meta property="og:title" content="HeScha-Scoretracker" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="localhost" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="Tracking scores of various games to mongoDB" />
		<link rel="stylesheet" href="../static/style.css">
		<script type="text/javascript" src="../static/script.js"></script>
		<script type="text/javascript" src="../static/modify_table.js"></script>
	</head>
	<body>
		<header>
			<table width="100%">
				<th align=left style="width:20%"><form action="/home"><button class="back" type="submit">&#8592;</button></form>
				<th style="width:60%"><h1 class="first">scoretracker</h1></th>
				<th style="width:20%"></th>
			</table>
		</header>
		<div class="flashes">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<p class="{{ category }}">{{ message }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>
	<section class="container">
		<input type="search" class="light-table-filter" datatable="game-table" placeholder="Filter">	
		<center>
			<table id="game-table" class="game-table table" border=solid>
				<thead>
					<tr>
						<th onClick="sort_table(0)">Player</th>
						<th onClick="sort_table(1)">Last played</th>
						<th onClick="sort_table(2)">Wins</th>
						<th onClick="sort_table(3)">Times played</th>
					</tr>
				</thead>
				<tbody>
					{% for player in players %}
					<tr>
						<td id="name">{{ player.name }}</td>
						<td>{{ player.last_played }}</td>
						<td>{{ player.wins }}</td>
						<td>{{ player.times_played }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</center>
	</section>
	</body>
	<footer>
		<address>
			Link zum Projekt und Source Code: <a href="https://github.com/ironicoerror/scoretracker/">Github</a>
		</address>
	</footer>
</html>
