<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HeScha-Scoretracker</title>
		<link rel="canonical" href="" />
		<meta name="description" content="Tracking scores of various games to mongoDB">
		<meta name="keywords" content="gaming, score, tracker, python, flask" />
		<meta property="og:admins" content="tobi rogx" />
		<meta property="og:title" content="HeScha-Scoretracker" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="localhost" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="Tracking scores of various games to mongoDB" />
		<link rel="stylesheet" href="../static/style.css">
		<script src="../static/script.js"></script>
	</head>
	<body>
		<header>
			<table width="100%">
				<th align=left style="width:20%"><form action="/home"><button class="back" type="submit">&#8592;</button></form>
				<th style="width:60%"><h1 class="first">scoretracker</h1></th>
				<th style="width:20%"></th>
			</table>
			<div class="flashes">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<p class="{{ category }}">{{ message }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
			</div>
		</header>
		<center>
		<form name="submit_form" class="boxxed" onsubmit="return validateForm()" method="post">
						<label for="sgame"><strong>Select Game</strong></label><br>
			<select class="games" id="sgame" name="sgame">
				{% for game in games %}
				<option value="{{ game._id }}">{{ game.name }}</option>
				{% endfor %}
			</select><br>
			<table align=center>
				<tr>
					<td align=right><input class="score" type="number" min="0" id="score_team1" name="score_team1" placeholder="0"></td>
					<td></td>
					<td align=left><input class="score" type="number" min="0" id="score_team2" name="score_team2" placeholder="0"></td>
				</tr>
				<tr>
					<td><select class="teams" id="team1" name="team1" size="10" multiple>
						{% for player in players %}
							<option value="{{ player._id }}">{{ player.name }}</option>
						{% endfor %}
					</select></td>
					<td><img src="../static/art_vs.jpeg" alt="VS" width="50px" height="30px"></td>	
					<td><select class="teams" id="team2" name="team2" size="10" multiple>
						{% for player in players %}
							<option value="{{ player._id }}">{{ player.name }}</option>
						{% endfor %}
					</select></td>
				</tr>
				<tr>
					<td colspan="3"><button class="game" type="submit" value="Submit">Submit Match</button></td>
				</tr>
			</table>
		</form> 
		<button class="add"onclick="addGame()">Add Game</button>
		<button class="add" onclick="addPlayer()">Add Player</button>
		</center>
	</body>
</html>
