<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HeScha-Scoretracker</title>
		<link rel="canonical" href="" />
		<meta name="description" content="Tracking scores of various games to mongoDB">
		<meta name="keywords" content="gaming, score, tracking, mongoDB, python" />
		<meta property="fb:admins" content="tobi rogx" />
		<meta property="og:title" content="HeScha-Scoretracker" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="localhost" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="Tracking scores of various games to mongoDB" />
		<link rel="stylesheet" href="../static/style.css">
		<script src="/script.js"></script>
	</head>
	<body>
				<center>
		 <form class="boxxed" method="post">
			<legend align="center">Submit Game</legend>
			<label for="sgame">Select Game</label><br>
			<select id="sgame" name="sgame">
				<option value=1>first entry</option>
				<option value=2>second entry</option>
			</select>
				<select id="team1" name="team" size="10" multiple>
				<option value=1>first entry</option>
				<option value=2>second entry</option>
				<option value=3>third entry</option>
			</select>
			<input type="submit" value="Submit">
		</form> 
		</center>
	</body>
</html>
