<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HeScha-Scoretracker</title>
		<link rel="canonical" href="" />
		<meta name="description" content="Tracking scores of various games to mongoDB">
		<meta name="keywords" content="gaming, score, tracker, python, flask" />
		<meta property="og:admins" content="tobi rogx" />
		<meta property="og:title" content="HeScha-Scoretracker" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="localhost" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="Tracking scores of various games to mongoDB" />
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body>
		<header>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					<ul class=flashes>
					{% for category, message in messages %}
						<li class="{{ category }}">{{ message }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
			<h1 class="first">scoretracker</h1>
		</header>
		<center>
		<form class="boxxed" method="post">
			<label for="sgame"><strong>Select Game</strong></label><br>
			<select class="games" id="sgame" name="sgame">
				{% for game in games %}
				<option value="{{ game._id }}">{{ game.name }}</option>
				{% endfor %}
			</select><br>
			<table align=center>
				<tr>
					<th style="width:40px"><label for="team1">Team1</label></th>
					<th style="width:30px"></th>
					<th style="width:40px"><label for="team2">Team2</label></th>
				</tr>
				<tr>
					<td align=right><input class="score" type="number" min="0" id="score_team1" name="score_team1" placeholder="0"></td>
					<td></td>
					<td align=left><input class="score" type="number" min="0" id="score_team2" name="score_team2" placeholder="0"></td>
				</tr>
				<tr>
					<td><select class="teams" id="team1" name="team1" size="10" multiple>
						{% for player in players %}
							<option value="{{ player._id }}">{{ player.name }}</option>
						{% endfor %}
					</select></td>
					<td>image</td>	
					<td><select class="teams" id="team2" name="team2" size="10" multiple>
						{% for player in players %}
							<option value="{{ player._id }}">{{ player.name }}</option>
						{% endfor %}
					</select></td>
				</tr>
				<tr>
					<td colspan="3"><button class="game" type="submit" value="Submit">Submit Match</button></td>
				</tr>
			</table>
		</form> 
		</center>
	</body>
</html>
